*{
	box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(230,200,149);
}
#cuerpo{
    width: 900px;
    height: 1000px;
    background-color: bisque;
    border: 5px solid black;
}



#cabecera{
    height: 15%;
}
.cabecera{
    width: 100%;
    background-color: rgb(230,200,149);
    border: 1px solid black;
}
#cabecera h1{
    margin-top: 6%;
}



#menu{
    height: 5%;
}
.menu{
    background-color: rgb(171,161,134);
    width: 100%;
}
ul{
    margin: 0;
    padding: 1.5% 0 0 0;
    text-align: center;
    font-size: large;
}
li{
    display: inline;
    margin: 2em;
    padding: 3px 8px;
    background-color: rgb(230,200,149);
    border-radius: 1em;
}
.vinculo{
    text-decoration: none;
    color: black;
}



#contenido{
    width: 100%;
    height: 70%;
}


#seccion{
    width: 64%;
    height: 100%;
    float: left;
    margin-right: 1%;
    background-color: rgb(151,158,54);
    padding: 2%;
    text-align: left;
}
.resumen{
    width: 100%;
    height: 30%;
    font-size: large;
    text-align: justify;
}
#imagenes{
    width: 100%;
    height: 30%;
    margin-top: 1%;
}
img{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 1em;
    margin: 0 5px;
}


#aseccion{
    width: 35%;
    height: 100%;
    float: left;
    padding: 1%;
    text-align: left;
    background-color: rgb(190,193,79);
}
#aseccion ul{
    margin: 0 0 3em 0;
    text-align: left;
}
#aseccion li{
    display: block;
    margin: 0 0 0 2em;
    padding: 0;
    background-color: rgb(190,193,79);
    border-radius: 0;
}



#pie{
    height: 10%;
}
.pie{
    width: 100%;
    background-color:  rgb(230,200,149);
    border: 1px solid black;
}